<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_reportPID</key>
	<integer>25012</integer>
	<key>_reportProcessName</key>
	<string>searchd</string>
	<key>_reportTime</key>
	<string>2026-09-03-18-24-49</string>
	<key>age_corespotlight_index</key>
	<integer>29130256</integer>
	<key>age_heartbeat</key>
	<integer>29130256</integer>
	<key>config_global</key>
	<integer>0</integer>
	<key>config_locale</key>
	<string>en_VE</string>
	<key>count_memory_throttle</key>
	<integer>0</integer>
	<key>count_thermal_throttle</key>
	<integer>0</integer>
	<key>data_collection_error</key>
	<integer>0</integer>
	<key>duration_memory_throttle_seconds</key>
	<integer>0</integer>
	<key>duration_thermal_throttle_seconds</key>
	<integer>0</integer>
	<key>index_a_age</key>
	<integer>1163790</integer>
	<key>index_a_config</key>
	<integer>0</integer>
	<key>index_a_count_add_journaled</key>
	<integer>0</integer>
	<key>index_a_count_add_processed</key>
	<integer>0</integer>
	<key>index_a_count_add_request</key>
	<integer>0</integer>
	<key>index_a_count_delete_journaled</key>
	<integer>0</integer>
	<key>index_a_count_delete_processed</key>
	<integer>0</integer>
	<key>index_a_count_delete_request</key>
	<integer>0</integer>
	<key>index_a_count_drop</key>
	<integer>0</integer>
	<key>index_a_count_drop_total</key>
	<integer>0</integer>
	<key>index_a_count_open_clean</key>
	<integer>0</integer>
	<key>index_a_count_open_dirty</key>
	<integer>0</integer>
	<key>index_a_count_queue_pressure</key>
	<integer>0</integer>
	<key>index_a_count_update_journaled</key>
	<integer>0</integer>
	<key>index_a_count_update_processed</key>
	<integer>0</integer>
	<key>index_a_count_update_request</key>
	<integer>0</integer>
	<key>index_a_creation_flags_index</key>
	<integer>33555266</integer>
	<key>index_a_creation_flags_sdb</key>
	<integer>75776</integer>
	<key>index_a_creation_version_spotlight</key>
	<string>2459.105</string>
	<key>index_a_max_index_gen_merge_level</key>
	<integer>1</integer>
	<key>index_a_max_journal_file_bytes</key>
	<integer>0</integer>
	<key>index_a_num_docids</key>
	<integer>47</integer>
	<key>index_a_num_file</key>
	<integer>89</integer>
	<key>index_a_num_index_gen_compacted</key>
	<integer>1</integer>
	<key>index_a_num_index_gen_non_compacted</key>
	<integer>1</integer>
	<key>index_a_num_index_gen_read_only</key>
	<integer>1</integer>
	<key>index_a_num_index_gen_writeable</key>
	<integer>1</integer>
	<key>index_a_num_journal_file</key>
	<integer>0</integer>
	<key>index_a_num_object_sdb</key>
	<integer>46</integer>
	<key>index_a_sdb_file_size_bytes</key>
	<integer>36864</integer>
	<key>index_a_sdb_shadow_file_size_bytes</key>
	<integer>36864</integer>
	<key>index_a_size_bytes</key>
	<integer>1404265</integer>
	<key>index_a_time_since_defrag_end</key>
	<integer>599613</integer>
	<key>index_a_time_since_defrag_start</key>
	<integer>599613</integer>
	<key>index_a_time_since_last_open_clean</key>
	<integer>74870</integer>
	<key>index_a_time_since_last_open_dirty</key>
	<integer>131441</integer>
	<key>index_a_time_since_merge_vacuum_end</key>
	<integer>57673</integer>
	<key>index_a_time_since_merge_vacuum_start</key>
	<integer>57673</integer>
	<key>index_a_time_since_sync_end</key>
	<integer>43775</integer>
	<key>index_a_time_since_sync_start</key>
	<integer>43776</integer>
	<key>index_b_age</key>
	<integer>1126736</integer>
	<key>index_b_config</key>
	<integer>0</integer>
	<key>index_b_count_add_journaled</key>
	<integer>0</integer>
	<key>index_b_count_add_processed</key>
	<integer>0</integer>
	<key>index_b_count_add_request</key>
	<integer>0</integer>
	<key>index_b_count_delete_journaled</key>
	<integer>0</integer>
	<key>index_b_count_delete_processed</key>
	<integer>0</integer>
	<key>index_b_count_delete_request</key>
	<integer>0</integer>
	<key>index_b_count_drop</key>
	<integer>0</integer>
	<key>index_b_count_drop_total</key>
	<integer>0</integer>
	<key>index_b_count_open_clean</key>
	<integer>0</integer>
	<key>index_b_count_open_dirty</key>
	<integer>0</integer>
	<key>index_b_count_queue_pressure</key>
	<integer>0</integer>
	<key>index_b_count_update_journaled</key>
	<integer>0</integer>
	<key>index_b_count_update_processed</key>
	<integer>0</integer>
	<key>index_b_count_update_request</key>
	<integer>0</integer>
	<key>index_b_creation_flags_index</key>
	<integer>67109698</integer>
	<key>index_b_creation_flags_sdb</key>
	<integer>75776</integer>
	<key>index_b_creation_version_spotlight</key>
	<string>2459.105</string>
	<key>index_b_max_index_gen_merge_level</key>
	<integer>1</integer>
	<key>index_b_max_journal_file_bytes</key>
	<integer>5617</integer>
	<key>index_b_num_docids</key>
	<integer>466</integer>
	<key>index_b_num_file</key>
	<integer>90</integer>
	<key>index_b_num_index_gen_compacted</key>
	<integer>1</integer>
	<key>index_b_num_index_gen_non_compacted</key>
	<integer>1</integer>
	<key>index_b_num_index_gen_read_only</key>
	<integer>1</integer>
	<key>index_b_num_index_gen_writeable</key>
	<integer>1</integer>
	<key>index_b_num_journal_file</key>
	<integer>2</integer>
	<key>index_b_num_object_sdb</key>
	<integer>232</integer>
	<key>index_b_sdb_file_size_bytes</key>
	<integer>69632</integer>
	<key>index_b_sdb_shadow_file_size_bytes</key>
	<integer>69632</integer>
	<key>index_b_size_bytes</key>
	<integer>1381975</integer>
	<key>index_b_time_since_defrag_end</key>
	<integer>599613</integer>
	<key>index_b_time_since_defrag_start</key>
	<integer>599613</integer>
	<key>index_b_time_since_last_open_clean</key>
	<integer>74870</integer>
	<key>index_b_time_since_last_open_dirty</key>
	<integer>486008</integer>
	<key>index_b_time_since_merge_vacuum_end</key>
	<integer>57845</integer>
	<key>index_b_time_since_merge_vacuum_start</key>
	<integer>57846</integer>
	<key>index_b_time_since_sync_end</key>
	<integer>43775</integer>
	<key>index_b_time_since_sync_start</key>
	<integer>43776</integer>
	<key>index_c_age</key>
	<integer>1166341</integer>
	<key>index_c_config</key>
	<integer>0</integer>
	<key>index_c_count_add_journaled</key>
	<integer>7</integer>
	<key>index_c_count_add_processed</key>
	<integer>7</integer>
	<key>index_c_count_add_request</key>
	<integer>7</integer>
	<key>index_c_count_delete_journaled</key>
	<integer>6</integer>
	<key>index_c_count_delete_processed</key>
	<integer>3</integer>
	<key>index_c_count_delete_request</key>
	<integer>3</integer>
	<key>index_c_count_drop</key>
	<integer>0</integer>
	<key>index_c_count_drop_total</key>
	<integer>1</integer>
	<key>index_c_count_open_clean</key>
	<integer>0</integer>
	<key>index_c_count_open_dirty</key>
	<integer>0</integer>
	<key>index_c_count_queue_pressure</key>
	<integer>0</integer>
	<key>index_c_count_update_journaled</key>
	<integer>0</integer>
	<key>index_c_count_update_processed</key>
	<integer>1</integer>
	<key>index_c_count_update_request</key>
	<integer>0</integer>
	<key>index_c_creation_flags_index</key>
	<integer>100664130</integer>
	<key>index_c_creation_flags_sdb</key>
	<integer>75776</integer>
	<key>index_c_creation_version_spotlight</key>
	<string>2400.22</string>
	<key>index_c_max_index_gen_merge_level</key>
	<integer>1</integer>
	<key>index_c_max_journal_file_bytes</key>
	<integer>96561</integer>
	<key>index_c_num_docids</key>
	<integer>23748</integer>
	<key>index_c_num_file</key>
	<integer>113</integer>
	<key>index_c_num_index_gen_compacted</key>
	<integer>1</integer>
	<key>index_c_num_index_gen_non_compacted</key>
	<integer>2</integer>
	<key>index_c_num_index_gen_read_only</key>
	<integer>2</integer>
	<key>index_c_num_index_gen_writeable</key>
	<integer>1</integer>
	<key>index_c_num_journal_file</key>
	<integer>2</integer>
	<key>index_c_num_object_sdb</key>
	<integer>13465</integer>
	<key>index_c_sdb_file_size_bytes</key>
	<integer>6328320</integer>
	<key>index_c_sdb_shadow_file_size_bytes</key>
	<integer>6344704</integer>
	<key>index_c_size_bytes</key>
	<integer>34868334</integer>
	<key>index_c_time_since_defrag_end</key>
	<integer>599613</integer>
	<key>index_c_time_since_defrag_start</key>
	<integer>599613</integer>
	<key>index_c_time_since_last_open_clean</key>
	<integer>566003</integer>
	<key>index_c_time_since_last_open_dirty</key>
	<integer>74870</integer>
	<key>index_c_time_since_merge_end</key>
	<integer>3609274</integer>
	<key>index_c_time_since_merge_start</key>
	<integer>3609278</integer>
	<key>index_c_time_since_merge_vacuum_end</key>
	<integer>56836</integer>
	<key>index_c_time_since_merge_vacuum_start</key>
	<integer>56838</integer>
	<key>index_c_time_since_sync_end</key>
	<integer>34735</integer>
	<key>index_c_time_since_sync_start</key>
	<integer>34735</integer>
	<key>index_cx_age</key>
	<integer>1120541</integer>
	<key>index_cx_config</key>
	<integer>0</integer>
	<key>index_cx_count_add_journaled</key>
	<integer>0</integer>
	<key>index_cx_count_add_processed</key>
	<integer>0</integer>
	<key>index_cx_count_add_request</key>
	<integer>0</integer>
	<key>index_cx_count_delete_journaled</key>
	<integer>0</integer>
	<key>index_cx_count_delete_processed</key>
	<integer>0</integer>
	<key>index_cx_count_delete_request</key>
	<integer>0</integer>
	<key>index_cx_count_drop</key>
	<integer>0</integer>
	<key>index_cx_count_drop_total</key>
	<integer>0</integer>
	<key>index_cx_count_open_clean</key>
	<integer>0</integer>
	<key>index_cx_count_open_dirty</key>
	<integer>0</integer>
	<key>index_cx_count_queue_pressure</key>
	<integer>0</integer>
	<key>index_cx_count_update_journaled</key>
	<integer>0</integer>
	<key>index_cx_count_update_processed</key>
	<integer>0</integer>
	<key>index_cx_count_update_request</key>
	<integer>0</integer>
	<key>index_cx_creation_flags_index</key>
	<integer>234881858</integer>
	<key>index_cx_creation_flags_sdb</key>
	<integer>75776</integer>
	<key>index_cx_creation_version_spotlight</key>
	<string>2459.105</string>
	<key>index_cx_max_index_gen_merge_level</key>
	<integer>1</integer>
	<key>index_cx_max_journal_file_bytes</key>
	<integer>0</integer>
	<key>index_cx_num_docids</key>
	<integer>2</integer>
	<key>index_cx_num_file</key>
	<integer>86</integer>
	<key>index_cx_num_index_gen_compacted</key>
	<integer>1</integer>
	<key>index_cx_num_index_gen_non_compacted</key>
	<integer>1</integer>
	<key>index_cx_num_index_gen_read_only</key>
	<integer>1</integer>
	<key>index_cx_num_index_gen_writeable</key>
	<integer>1</integer>
	<key>index_cx_num_journal_file</key>
	<integer>0</integer>
	<key>index_cx_num_object_sdb</key>
	<integer>2</integer>
	<key>index_cx_sdb_file_size_bytes</key>
	<integer>36864</integer>
	<key>index_cx_sdb_shadow_file_size_bytes</key>
	<integer>36864</integer>
	<key>index_cx_size_bytes</key>
	<integer>1030829</integer>
	<key>index_cx_time_since_defrag_end</key>
	<integer>599613</integer>
	<key>index_cx_time_since_defrag_start</key>
	<integer>599613</integer>
	<key>index_cx_time_since_last_open_clean</key>
	<integer>74870</integer>
	<key>index_cx_time_since_last_open_dirty</key>
	<integer>1184055</integer>
	<key>index_cx_time_since_merge_vacuum_end</key>
	<integer>56843</integer>
	<key>index_cx_time_since_merge_vacuum_start</key>
	<integer>56844</integer>
	<key>index_cx_time_since_sync_end</key>
	<integer>43776</integer>
	<key>index_cx_time_since_sync_start</key>
	<integer>43776</integer>
	<key>index_mail_age</key>
	<integer>1166046</integer>
	<key>index_mail_config</key>
	<integer>0</integer>
	<key>index_mail_count_add_journaled</key>
	<integer>0</integer>
	<key>index_mail_count_add_processed</key>
	<integer>0</integer>
	<key>index_mail_count_add_request</key>
	<integer>0</integer>
	<key>index_mail_count_delete_journaled</key>
	<integer>0</integer>
	<key>index_mail_count_delete_processed</key>
	<integer>0</integer>
	<key>index_mail_count_delete_request</key>
	<integer>0</integer>
	<key>index_mail_count_drop</key>
	<integer>0</integer>
	<key>index_mail_count_drop_total</key>
	<integer>0</integer>
	<key>index_mail_count_open_clean</key>
	<integer>0</integer>
	<key>index_mail_count_open_dirty</key>
	<integer>0</integer>
	<key>index_mail_count_queue_pressure</key>
	<integer>0</integer>
	<key>index_mail_count_update_journaled</key>
	<integer>1</integer>
	<key>index_mail_count_update_processed</key>
	<integer>1</integer>
	<key>index_mail_count_update_request</key>
	<integer>0</integer>
	<key>index_mail_creation_flags_index</key>
	<integer>50332482</integer>
	<key>index_mail_creation_flags_sdb</key>
	<integer>75776</integer>
	<key>index_mail_creation_version_spotlight</key>
	<string>2400.22</string>
	<key>index_mail_max_index_gen_merge_level</key>
	<integer>1</integer>
	<key>index_mail_max_journal_file_bytes</key>
	<integer>3787</integer>
	<key>index_mail_num_docids</key>
	<integer>13</integer>
	<key>index_mail_num_file</key>
	<integer>89</integer>
	<key>index_mail_num_index_gen_compacted</key>
	<integer>1</integer>
	<key>index_mail_num_index_gen_non_compacted</key>
	<integer>1</integer>
	<key>index_mail_num_index_gen_read_only</key>
	<integer>1</integer>
	<key>index_mail_num_index_gen_writeable</key>
	<integer>1</integer>
	<key>index_mail_num_journal_file</key>
	<integer>2</integer>
	<key>index_mail_num_object_sdb</key>
	<integer>3</integer>
	<key>index_mail_sdb_file_size_bytes</key>
	<integer>36864</integer>
	<key>index_mail_sdb_shadow_file_size_bytes</key>
	<integer>36864</integer>
	<key>index_mail_size_bytes</key>
	<integer>1100432</integer>
	<key>index_mail_time_since_defrag_end</key>
	<integer>599613</integer>
	<key>index_mail_time_since_defrag_start</key>
	<integer>599613</integer>
	<key>index_mail_time_since_last_open_clean</key>
	<integer>385346</integer>
	<key>index_mail_time_since_last_open_dirty</key>
	<integer>74870</integer>
	<key>index_mail_time_since_merge_vacuum_end</key>
	<integer>56832</integer>
	<key>index_mail_time_since_merge_vacuum_start</key>
	<integer>56832</integer>
	<key>index_mail_time_since_sync_end</key>
	<integer>43775</integer>
	<key>index_mail_time_since_sync_start</key>
	<integer>43776</integer>
	<key>index_priority_age</key>
	<integer>1166343</integer>
	<key>index_priority_config</key>
	<integer>0</integer>
	<key>index_priority_count_add_journaled</key>
	<integer>2</integer>
	<key>index_priority_count_add_processed</key>
	<integer>2</integer>
	<key>index_priority_count_add_request</key>
	<integer>2</integer>
	<key>index_priority_count_delete_journaled</key>
	<integer>10</integer>
	<key>index_priority_count_delete_processed</key>
	<integer>5</integer>
	<key>index_priority_count_delete_request</key>
	<integer>5</integer>
	<key>index_priority_count_drop</key>
	<integer>0</integer>
	<key>index_priority_count_drop_total</key>
	<integer>1</integer>
	<key>index_priority_count_open_clean</key>
	<integer>0</integer>
	<key>index_priority_count_open_dirty</key>
	<integer>0</integer>
	<key>index_priority_count_queue_pressure</key>
	<integer>0</integer>
	<key>index_priority_count_update_journaled</key>
	<integer>1472</integer>
	<key>index_priority_count_update_processed</key>
	<integer>1606</integer>
	<key>index_priority_count_update_request</key>
	<integer>1472</integer>
	<key>index_priority_creation_flags_index</key>
	<integer>16778050</integer>
	<key>index_priority_creation_flags_sdb</key>
	<integer>75776</integer>
	<key>index_priority_creation_version_spotlight</key>
	<string>2400.22</string>
	<key>index_priority_max_index_gen_merge_level</key>
	<integer>1</integer>
	<key>index_priority_max_journal_file_bytes</key>
	<integer>0</integer>
	<key>index_priority_num_docids</key>
	<integer>19414</integer>
	<key>index_priority_num_file</key>
	<integer>263</integer>
	<key>index_priority_num_index_gen_compacted</key>
	<integer>1</integer>
	<key>index_priority_num_index_gen_non_compacted</key>
	<integer>10</integer>
	<key>index_priority_num_index_gen_read_only</key>
	<integer>10</integer>
	<key>index_priority_num_index_gen_writeable</key>
	<integer>1</integer>
	<key>index_priority_num_journal_file</key>
	<integer>0</integer>
	<key>index_priority_num_object_sdb</key>
	<integer>2386</integer>
	<key>index_priority_sdb_file_size_bytes</key>
	<integer>1052672</integer>
	<key>index_priority_sdb_shadow_file_size_bytes</key>
	<integer>1052672</integer>
	<key>index_priority_size_bytes</key>
	<integer>15495070</integer>
	<key>index_priority_time_since_defrag_end</key>
	<integer>599613</integer>
	<key>index_priority_time_since_defrag_start</key>
	<integer>599613</integer>
	<key>index_priority_time_since_last_open_clean</key>
	<integer>74870</integer>
	<key>index_priority_time_since_last_open_dirty</key>
	<integer>131441</integer>
	<key>index_priority_time_since_merge_end</key>
	<integer>131437</integer>
	<key>index_priority_time_since_merge_start</key>
	<integer>131440</integer>
	<key>index_priority_time_since_merge_vacuum_end</key>
	<integer>56838</integer>
	<key>index_priority_time_since_merge_vacuum_start</key>
	<integer>56839</integer>
	<key>index_priority_time_since_sync_end</key>
	<integer>88</integer>
	<key>index_priority_time_since_sync_start</key>
	<integer>88</integer>
	<key>system_fs_free_space_bytes</key>
	<integer>6499385344</integer>
	<key>system_fs_mount_flags</key>
	<integer>343969944</integer>
	<key>system_fs_total_space_bytes</key>
	<integer>127866785792</integer>
	<key>system_fs_type</key>
	<string>apfs</string>
	<key>system_total_ram_gb</key>
	<integer>4</integer>
	<key>system_volume_flags</key>
	<integer>18296925792237518977</integer>
	<key>time_since_last_heartbeat</key>
	<integer>7165</integer>
	<key>time_since_launch_1</key>
	<integer>74870</integer>
	<key>time_since_launch_2</key>
	<integer>131442</integer>
	<key>time_since_launch_3</key>
	<integer>135118</integer>
	<key>time_since_software_update</key>
	<integer>1705587</integer>
	<key>version_build</key>
	<string>24A5418b</string>
	<key>version_build_previous</key>
	<string>23D127</string>
	<key>version_spotlight</key>
	<string>2459.105</string>
	<key>version_spotlight_previous</key>
	<string>2400.22</string>
	<key>version_train_previous</key>
	<string>23D127</string>
</dict>
</plist>
